@import "ui-variables";
@import "ui-mixins";

.gifBox {
  padding: 10px 20px 20px 20px;
  width: 100%;

  h4 {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  small {
    font-size: 11px;
    margin-bottom: 5px;
  }

  input {
    padding: 5px 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .gifList {
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .gif {
      width: 25%;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      border-width: 0 !important;
    }
  }
}
