@import "ui-variables";
@import "ui-mixins";

.gifBox {
  padding: 10px 20px 20px 20px;

  h4 {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  small {
    font-size: 11px;
    margin-bottom: 5px;
  }

  input {
    padding: 5px 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .gifList {
    max-height: 200px;
    overflow-y: scroll;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .gif {
      margin: auto;
      height: 52px;
      width: 52px;

      img {
        height: 52px;
        width: 52px;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 0 !important;
      }
    }
  }
}
